.updateSize {
    h1 {
        font-size: 32px;

        .nomeModulo {
            font-size: 42px;
            &::after { font-size: 32px; }
        }
    }

    h2 { font-size: 24px; line-height: 1; }
    h3 { 
        font-size: 42px; 
        
        &::before, &::after { top: -12px; }
    }
    h4 { font-size: 26px; }
    p { font-size: 24px; }

    ul {
        li { font-size: 24px; }
    }

    header {
        height: 90px;
        
        .logoSenac { margin-top: 20px; }
        .tituloCurso { height: 90px; }
    }

    .menuSection { 
        top: 115px; 
    
        .navbar-nav {
            li {
                a { font-size: 20px; }
            }
        }
    }

    .wrapper {    
        #divSection {
            #divConteudo {
                .sec1 { padding-top: 175px; }
            }
        }
    }

    .botaoPadrao { font-size: 20px; }

    .bloco-material {
        height: 200px;
        
        .icoMaterial,
        .conteudoBloco { height: 200px; }
    
        &.max {
            height: 240px;
            
            .icoMaterial,
            .icoStatic,
            .conteudoBloco { height: 240px; }
        }
    }

    .divTranscrition {
        .legenda { font-size: 20px; }
    }

    .btn-fecharUl { 
        font-size: 16px; 
        padding: 4px 15px 0 12px;
    }
    .btn-chapter {
        font-size: 20px;
        padding: 5px 12px;
    }
    .ul-subChapter {
        .btn-subChapter {
            font-size: 18px;
            padding: 8px 12px 8px 35px; 
        }
    }  

    @media #{$bp-phone} {
        h2 { font-size: 21px; }
        h3 { font-size: 36px; }
        p { font-size: 21px; }
        ul { li { font-size: 21px; }}
    
        header {
            height: 100px;
            
            .logoSenac { margin-top: 25px; }
            .tituloCurso { height: 97px; }
        }
    
        .menuSection { 
            top: 0; 
        
            .navbar-nav {
                li {
                    a { font-size: 20px; }
                }
            }
        }
    
        .wrapper {    
            #divSection {
                #divConteudo { 
                    .sec1 { padding-top: 40px; }
                 }
            }
        }
    
        .botaoPadrao { font-size: 20px; }
    
        .bloco-material {
            height: 200px;
            
            .icoMaterial,
            .conteudoBloco { height: 200px; }
        
            &.max {
                height: 240px;
                
                .icoMaterial,
                .icoStatic,
                .conteudoBloco { height: 240px; }
            }
        }
    }
}