header {
	background: #FFF;
	height: 80px; 
	position: relative;
	top: 25px;
	width: 100%;
    z-index: 909;

    &.min { top: -65px; }
    
    @include transition (all 0.2s);

    /* LOGO */
    .logoSenac { 
        background: url(../img/logoSenac.png) top left no-repeat;
        height: 50px; 
        margin-top: 15px;
        position: relative;
        width: 80px; 

        @include transition(all 0.3s);
    }

    .tituloCurso {
        height: 80px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        text-align: right;
    }

    @media #{$bp-phone} {
        /*position: relative;
        top: 0;*/

        .logoSenac {
            background-size: 100%;
            margin-top: 25px;
            height: 35px;
            width: auto; 
        }

        .tituloCurso {
            margin-top: 1px;
            height: 77px;
        }
    }
}

.menuAcessibilidade {
    background: #EEE;
	height: 25px; 
    position: fixed;
    text-align: right;
	top: 0;
	width: 100%;
    z-index: 911;
    
    .btn-acessibilidade {
        color: #000;
        display: inline-block;
        font-family: 'Nunito Sans', Arial, sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 2;
        padding: 0 10px;
        text-align: right;
        text-transform: uppercase;
    }
}