@charset "utf-8";

* {
	margin: 0;
	padding: 0;
	border: 0;
    outline: 0;
    
    -webkit-overflow-scrolling: auto;
    
    @include border-box;
    
    @media #{$bp-phone} {
        -webkit-overflow-scrolling: touch;
    }
}

html, body { height:100%; width:100%; }

body {
    background-color: #fff;
	color:#4D4D4D;
	font-family: 'Nunito Sans', Arial, sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.4;
    
    @include transition(all 0.5s);

    &.ios {
        @media #{$bp-tablet} {
            overflow-y:visible !important;
            height:auto;
        }

        @media #{$bp-phone} {
            overflow-y:visible !important;
            height:auto;
        }
    }

    &.lightsOn {
        background: rgba(0, 0, 0, 0.9) !important;
        overflow: hidden;
    }
}

/*******************************
MARGENS
********************************/
$intervalM: 0;
@while $intervalM <= 250 {
    .m#{$intervalM} { margin: $intervalM + px !important; }
    .ml#{$intervalM} { margin-left: $intervalM + px !important; }
    .ml-#{$intervalM} {	margin-left: -$intervalM + px !important; }
    .mr#{$intervalM} { margin-right: $intervalM + px !important;}
    .mt#{$intervalM} { margin-top: $intervalM + px !important;}
    .mt-#{$intervalM} { margin-top: -$intervalM + px !important; }
    .mb#{$intervalM} { margin-bottom: $intervalM + px !important; }

    .mh#{$intervalM} { margin-left: $intervalM + px !important; margin-right: $intervalM + px !important;}
    .mv#{$intervalM} { margin-top: $intervalM + px !important; margin-bottom: $intervalM + px !important; }

    $intervalM: $intervalM + 5;
}

/*******************************
Paddings
********************************/
$intervalP: 0;
@while $intervalP <= 250 {
    .p#{$intervalP} { padding: $intervalP + px !important; }
    .pl#{$intervalP} { padding-left: $intervalP + px !important; }
    .pr#{$intervalP} { padding-right: $intervalP + px !important; }
    .pt#{$intervalP} { padding-top: $intervalP + px !important; }
    .pb#{$intervalP} { padding-bottom: $intervalP + px !important; }

    .ph#{$intervalP} { padding-left: $intervalP + px !important; padding-right: $intervalP + px !important; }
    .pv#{$intervalP} { padding-top: $intervalP + px !important; padding-bottom: $intervalP + px !important; }

    $intervalP: $intervalP + 5;
}

/*****************************/