/* Full - Destaque */
.section-full-destaque {
	background: #27357C url(../images/bg_fullDestaque.png) 0 0 no-repeat;
	background-size: cover;
	margin: 40px auto;
    padding: 50px 0;
    
    .full-destaque {
        border-left: solid #42C7BA 6px;
        padding-left: 20px;

        h4 {
            color:#F2F2F2;
            font-size: 21px;	
            margin: 10px 0;
            text-transform: uppercase;
        }

        p {
            color:#F2F2F2;
            font-size: 19px;

            &:last-child { margin-bottom: 0; }
        }
    }
}

.full-width { width: 100%; }
.full-height {
	height: 100%;
	width: auto; }

/* Destaque - Image */
.section-destaqueImage {
    margin: 50px auto;

    .destaqueImage {
        color: #FFF; 
        margin-top: 20px;
        position: relative;
        text-align: left;
        width: 100%;

        .verticalAlign { position: absolute; }
    }

    .destaqueImage_bg {
        background: rgba(39,53,124,0.85);
        height: 100%;
        position: absolute;
        top: 0; 
        
        display: -webkit-flex;
        display: flex;
        
        -webkit-align-items: center;
        align-items: center;
        
        -webkit-justify-content: center;
        justify-content: center; 
    
        .plusText-destaqueImage {
            margin: 15px 30px 30px;
			
			@media #{$bp-tablet} {
				margin: 0;
			}
        }
    }
}

/* INFOGRÁFICO */
.img-infografico { margin: 50px 0;	}
.padd_image { padding-top: 45px; }

.section-infografico { 
	background: #0078C0 url(../images/bg_infografico1.png) center no-repeat;
	height: auto;
	margin: 30px auto 50px;
	padding-bottom: 50px;
	position: relative;  

    .bloco-texto { margin-top: 100px; }
    
    h5 { font-size: 32px !important; }

    p {
	    color:#fff;
		margin: 30px 0; 
	}

	@media #{$bp-tablet} {
		background: #0078C0 url(../images/bg_infografico2.png) center no-repeat;	
	}	
}
.divInfografico {
	background: #FFFFFF;
	border-radius: 50%;
	margin: 20px auto;
	position: relative; }

/* HIGHLIGHT */
.section-highlight { 
	background: #2251a3 url(../images/bg_video.jpg) center;
	background-size: cover;
	height: auto;
	margin: 60px 0;
	padding: 0;

	@media #{$bp-tablet} {
		background: none;
		margin: 50px auto;
	}	
}

/************************************************************************/
/*
CASES
*/
.divCases { margin-top: 20px; }
.caseQuadro{	
	background: #0078C0;
	padding: 30px 0; }
	
.case { 	
	position: relative; 
	width: 100%; }
.case_bg {
    background: rgba(155,172,49,0.85);
  	display: flex;
    height: 100%;
	position: absolute;
    top: 0;
	
  	-webkit-align-items: center;
		  	align-items: center;
  	-webkit-justify-content: center;
		  	justify-content: center;
			
	.case_bg h4 { color: #FFF; }

	.verticalAlign { position: absolute; }

	@media #{$bp-phone} {
		display: block;
		position: relative;
		padding: 15px 0;

		.verticalAlign { position: relative; }
	}
}

/* case-custom */
.case-green {
	background: rgba(155,172,49,0.85);
	padding: 48px; 

	h4 { margin-bottom: 20px; }
	p { color: #FFF; }
}

.case-custom li:before {
	color: #fff;
  	content: "• "; }

/* imgs */
.case-custom.img1 {
	background: url(../images/img_case_01.jpg) 0 0 no-repeat;
	background-size: cover; }
.case-custom.img2 {
	background: url(../images/img_case_02.jpg) 0 0 no-repeat;
	background-size: cover; }
.case-custom.img3 {
	background: url(../images/img_case_03.jpg) 0 0 no-repeat;
	background-size: cover; }
.case-custom.img4 {
	background: url(../images/img_case_04.jpg) 0 0 no-repeat;
	background-size: cover; }
.case-custom.img5 {
	background: url(../images/img_case_05.jpg) 0 0 no-repeat;
	background-size: cover; }
.case-custom.img6 {
	background: url(../images/img_case_06.jpg) 0 0 no-repeat;
	background-size: cover; }
.case-custom.img7 {
	background: url(../images/img_case_07.jpg) 0 0 no-repeat;
	background-size: cover; }
.case-custom.img8 {
	background: url(../images/img_case_08.jpg) 0 0 no-repeat;
	background-size: cover; }
.case-custom.img9 {
	background: url(../images/img_case_09.jpg) 0 0 no-repeat;
	background-size: cover; }
.case-custom.img10{
	background: url(../images/img_case_10.jpg) 0 0 no-repeat;
	background-size: cover; }


.plusText {
    font-size: 16px;
	padding: 45px; }
.plusText h4 {
	font-family: 'Oswald', sans-serif;
	font-size: 32px;
	font-weight: 600;
	margin-bottom: 15px;
	text-align: left; }
	
/* custom */
.full-width { width: 100%; }
.full-height {
	height: 100%;
	width: auto; }
.pd-0 { padding: 0; }
	
/*.case ul { }*/
.case li {
	color: #fff;
	font-size: 17px; }

.case li:before {
  color: #fff; 
  content: "• "; }

.case_titulo { 
	background: transparent url(../img/bg_tituloCase.png) center 0 no-repeat;
	background-size: contain;
	color: #fff;
	font-size: 32px; 
	font-weight: 700;
	height: 170px;
	margin-left: 5%;
	padding-top: 73px;
	text-align: center;
	width: 440px; }

.case .citacao .ico-left { left: 20px; top: -20px; }
.case .citacao .ico-right { right: 50px; }
.case p.citacao-left { margin-left: 75px; margin-right: 30px; }

.case .caseQuadro h4{ color: #000; font-weight: 700; text-align: left; padding: 0 30px;}
.case .caseQuadro p, .case_bg p { color: #FFF; text-align: left; padding: 0 30px 0 0; }
.verticalAlign h4 { font-size: 32px; text-align: center; padding: 0 15px; }
.verticalAlign p { text-align: center; padding: 0 10%; }


/********************************************************************/

.w1 { width: 8.33333333%; }
.w2 { width: 16.66666667%; }
.w3 { width: 25%; }
.w4 { width: 33.33333333%; }
.w5 { width: 41.66666667%; }
.w6 { width: 50%; }
.w7 { width: 58.33333333%; }
.w8 { width: 66.66666667%; }
.w9 { width: 75%; }
.w10 { width: 83.33333333%; }
.w11 { width: 91.66666667%; }
.w12 {
	background: rgba(34,81,163,0.3);
	width: 100%; }

.col1 { left: 8.33333333%; }
.col2 { left: 16.66666667%; }
.col3 { left: 25%; }
.col4 { left: 33.33333333%; }
.col5 { left: 41.66666667%; }
.col6 { left: 50%; }
.col7 { left: 58.33333333%; }
.col8 { left: 66.66666667%; }
.col9 { left: 75%; }
.col10 { left: 83.33333333%; }
.col11 { left: 91.66666667%; }

@media #{$bp-tablet} {
	/*CASES*/
	.w1,.w2,.w3,.w4,
	.w5,.w6,.w7,.w8,
	.w9,.w10,.w11,.w12 { width: 100%; }

	.col1,.col2,.col3,.col4,
	.col5,.col6,.col7,.col8,
	.col9,.col10,.col11 { left: 0; }

	/*table-cells
	.section-table .w1 { width: 8.33333333%; }
	.section-table .w2 { width: 16.66666667%; }
	.section-table .w3 { width: 25%; }
	.section-table .w4 { width: 33.33333333%; }
	.section-table .w5 { width: 41.66666667%; }
	.section-table .w6 { width: 50%; }
	.section-table .w7 { width: 58.33333333%; }
	.section-table .w8 { width: 66.66666667%; }
	.section-table .w9 { width: 75%; }
	.section-table .w10 { width: 83.33333333%; }
	.section-table .w11 { width: 91.66666667%; }
	.section-table .w12 {
		background: rgba(34,81,163,0.3);
		width: 100%; }*/
}


/* SECTION PODCAST */
.section-podcast { 
	margin: 100px 0 0; 
	
	h2 {
		bottom: 0;
		color:#A8B60B;
		font-size: 40px;
		margin-left: 36px;
	}

	.podc { 
		height: 103px; 
		
		&::before { 
			content: " ";
			background: url(../images/audio.png) no-repeat;
			background-size: cover;
			position: absolute;
			left: 10px;
			top: -50px;
			height: 103px;
			width: 33px;
		}
	}
	
	.pod_play {
		background: url(../images/bg_podcast.png) no-repeat;	
		background-size: cover;
		overflow: hidden;	
		position: relative;
		height: 303px;
		margin: 40px 0 0 0;
		padding: 90px 8px 0;
		z-index: 99; 
	}
}

/* FOR MOBILES
.mobile {
	&.ios {
		
	}
} */