$bg: "../js/plugins/audiojs/player-icons.png";

.div-audio {
	background: url(../img/bgPlayer.png) repeat-y;
	background-size: contain;
	border-radius: 10px;
	display: table;
	margin: 70px auto 0;
	position: relative;
	width: auto;
	padding: 15px;

	&::before {
		background: url(../img/bgWaves.png) repeat-x 2px -25px;
		content: ' ';
		height: 80px;
		width: 98%;
		position: absolute;
		top: -80px;
		left: 1%;
	}

	.audio-player {
		background: #FFF;
		border: 0;
		border-radius: 0;
		display: table;
		margin: 0 auto 40px;
		position: relative;
		padding: 0;
		width: 100%;
		z-index: 4;
	
		.audiojs { 
			background: transparent;
			border: 0;
			display: table-row;
			font-size: 12px; 
			height: 45px;
			margin: 0 auto;
			position: relative;
			width: 100%;

			@include box-shadow(none);

			audio { position:absolute; left: -1px; }

			.play-pause { 
				background: rgba(58,60,75, 1);
				display: table-cell;
				height: 45px;
				margin: 0;
				overflow: hidden;
				padding: 0;
				position: relative;
				width: 45px;
				
				@include transition(all 0.5s);

				.play {
					display: block;
					background: url($bg) center 0 no-repeat;
				}
				.pause { background: url($bg) center -45px no-repeat; }

				&:hover { background: darken(rgba(58,60,75, 1), 10%); }
			}

			&.playing {
				.play-pause {
					.play { display: none; }
					.pause { display: block; }
				}
			}

			p {
				cursor: pointer;
				display: none;
				height: 100%;
				margin: 0;
				position: absolute;
				width: 100%;
			}

			button { 
				background: transparent;
				border: 0;
				height: 45px;
				outline: 0;
				padding: 0;
				width: 45px;
			}

			i {
				display: inline-block;
				font: normal normal normal 14px/1 Arial;
				font-size: inherit;
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale; 
			}

			.time {
				background: rgba(58,60,75, 0.7);
				color: #FFF;
				display: table-cell;
				font-family: 'Oswald', sans-serif;
				font-size:  14px;
				font-weight: 300;
				height: 45px;
				line-height: 1;
				margin: 0;
				padding: 0;
				text-align: center;
				vertical-align: middle;
				width: 100px;
			
				em {
					display: inline-block;
					font-style: normal;
					line-height: 1;
					padding: 0 3px;
					position: relative;
				}
			}

			.scrubber {
				background: rgba(58,60,75, 0.5);
				border: 0;
				display: table-cell;
				position: relative;
				height: 45px;
				margin: 0;
				width: auto;
				
				.total, .loaded, .progress {
					border-radius: 0;
					height: 45px;
					position: absolute;
					margin: 0;
					left: 0;
					top: 0;
					width: 0;
				}
				.total {
					background: rgba(58,60,75, 0.1);
					width: 100%;
					z-index: 2;
				}
				.loaded {
					background: rgba(58,60,75, 0.1);
					z-index: 3;
					width: 100% !important;
				}
				.progress {
					background: rgba(1,158,178, 0.4);
					overflow: visible;
					z-index: 4;

					@include box-shadow(none);
				}
			}

			.audiodescricao { 
				display: none; 
			}
			
			.download {
				display: none;
				border: 0;
				float: left;
				margin: 0 0 0 5px;
				padding: 0;
				position: relative;
				height: 50px;
				width: 45px;
				
				a {
					cursor: pointer;
				}
				a i:before { 
					background: url($bg) center -150px no-repeat;
					content:" ";
					position: absolute;
					left: 0;
					top: 0;
					height: 50px;
					width: 45px;
				}
			}

			.volume {
				background: rgba(58,60,75, 1);
				border: 0;
				display: table-cell;
				margin: 0;
				opacity: 0.6;
				padding: 0;
				position: relative;
				height: 45px; 
				width: 50px;

				button { 
					position: absolute;
					top: 0;

					i:before { 
						content: " ";
						position: absolute;
						top: 0;
						left: 0;
						height: 45px;
						width: 50px;
					} 
					i.ico-volumeMax:before { background: url($bg) center -180px no-repeat; }
					i.ico-volumeMin:before { background: url($bg) center -225px no-repeat; }
					i.ico-volumeMute:before { background: url($bg) center -270px no-repeat; }
				}
				
				input { 
					top: -5px;
					width: 10px;
					right: 50px;
					opacity: 0; 
					transform-origin: right top;

					@include transition(all 0.3s);
				}

				&:hover {
					input { 
						top: -100px;
						width: 100px;

						/*padding: 0 10px;*/
						opacity: 1; 
					}
				}
			}

			.error-message {
				color: #fff;
				display: none;
				float: left;
				height: 36px;
				line-height: 36px;
				margin: 0 10px;
				overflow:hidden;
				width: 400px;
				white-space:nowrap;

				-webkit-text-overflow: ellipsis;
				-moz-text-overflow: ellipsis;
					-o-text-overflow: ellipsis;
						text-overflow: ellipsis;
						
				a {
					border-bottom:1px solid #999;
					color:#eee;
					padding-bottom:1px;
					text-decoration:none;
					white-space:wrap; 
				}

				.error .loading,
				.error .pause,
				.error .play,
				.error .scrubber,
				.error .time { 
					display: none; 
				}
				.error .error,
				.error .error-message { 
					display: block;
				}
				.error .play-pause p {
					cursor: auto;
				}
				.loading .error,
				.loading .pause,
				.loading .play { 
					display: none; 
				}
				.loading .loading { 
					display: block; 
				}
			}
		}
	}
}

input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb { -webkit-appearance: none; }

input[type='range'] {
	background: transparent; 
	border-radius: 25px;
	border: solid 8px transparent;
	cursor: pointer;
	display: block;
	float: left;
	height: 6px;
	margin: 10px 0 0;
	outline: none;
	padding: 0;
	width: 150px; 
}
input[type='range']::-webkit-slider-runnable-track {
	background: #FFF;
	background: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,1)) no-repeat rgba(255,255,255,0.5);
	background-size: 0% 100%;
	border-radius: 4px;
	height: 6px;
	width: 100%; 
}
input[type='range']::-webkit-slider-thumb {
	background: #fff;
	border: none;
	border-radius: 50%;
	box-shadow: 0 0 4px #333;
	opacity: 0;
	height: 12px;
	margin-top: -3px;
	width: 12px;
}

input[type='range']::-moz-range-track {
	background: #fff;
	background: linear-gradient(#2a3678, #2a3678) no-repeat #fff;
	background-size: 0% 100%; 
	border-radius: 25px;
	height: 6px;
	width: 100%;
}
input[type='range']::-moz-range-thumb {
	background: #fff;
	border: none;
	border-radius: 50%;
	box-shadow: 0 0 4px #333;
	height: 12px;
	margin-top: -3px;
	width: 12px;
}

input[type='range']::-ms-track {
	background: #FFF;
	border: 0;
	color: transparent;
	border-radius: 4px;
	height: 6px;
	width: 100%; 
}
input[type='range']::-ms-fill-lower {
	border-radius: 4px;
	background: #e44e4f;
}
input[type='range']::-ms-thumb {
	background: #fff;
	border: none;
	border-radius: 50%;
	box-shadow: 0 0 4px #333;
	height: 12px;
	width: 12px; }
input[type='range']::-ms-tooltip { display: none; }
input[type='range']:focus { outline: none; }