/* GRAFICO PIZZA */
.conteudo-grafico {
	background: #e0e0e0;
	margin: 0 0 50px;
	padding: 20px 0;
}

.graficoLegenda { 
    display: flex; 
    align-items: center; 
    flex-direction: row; 

    ul { 
        border: 0;
        margin: 0; 
        width: 100%; 

        li {
            display: flex;
            align-items: center;
            flex-direction: row;
            float: none;
            margin-bottom: 10px;
            padding: 0;
            text-indent: initial;

            &::before { display: none; }

            a {
                background: rgba(1,122,192,1);
                border: 0;
                border-radius: 25px;
                color: #FFF;
                cursor: pointer;
                font-family: 'Oswald', sans-serif;
                font-size: 18px;
                font-weight: 600;
                line-height: 1;
                margin: 0;
                padding: 10px 20px;
                text-align:  center;
                text-decoration: none;
                width: 100%;
            
                @include transition(all 0.5s); 

                &:hover { opacity: 0.7; }

                span {
                    background-color: #c38c79;
                    display: none;
                    margin-right: 10px;
                    height: 20px;
                    width: 40px;
                }
            }

            &.active {
                a {
                    border: 0;
                    color: blue;
                    margin: 0;
                    opacity: 0.8;
                    padding: 10px 20px;

                    &:focus, &:hover {
                        border: 0;
                        color: blue;
                        margin: 0;
                        opacity: 0.8;
                        padding: 10px 20px;
                    }
                }
            }
        }
    }

    @media #{$bp-tablet} {
        display: block;
        height: auto !important;

        ul { 
            li {
                display: inline-block;
                margin-right: 10px;
    
                a {
                    display: block; 
                    padding: 10px 40px;
                }
    
                &.active {
                    a {
                        padding: 10px 40px;
    
                        &:focus, &:hover {
                            padding: 10px 40px;
                        }
                    }
                }
            }
        }
    }
}

.tab-content {
    &.grafico {
        background: transparent;
        margin-top: 30px; 
        
        @include box-shadow(none);
        
        p { color: #000; }

        ul {
            margin-bottom: 5px;

            li { color: #000; }
        }

        @media #{$bp-tablet} {
            margin-top: 0;
            
            .tab-pane { padding-top: 30px; }
        }
    }   
}



/* EXTEND IMAGE */
.extend-image {
	display: block;
	height: auto; 
	width: 110%; 
}

/* BGS */
.azulEscuro { background-color: #0078C0 !important; }
.azulClaro { background-color: #36A8E0 !important; }

/* TXTS */
.txtBranco { color:#fff; }
.titBranco { color:#fff; }

/* NO BORDER */
.no-border-bottom { border-bottom: none !important; }
.no-border-left { border-left: none !important; }
.no-border-right { border-right: none !important; }
.no-border-top { border-top: none !important; }

/* DIVIDER */
.breakArrow {
	background: url(../images/bg_breakArrow.png) center no-repeat;
	display: block;
	height: 10px;
	margin: 30px auto;
    position: relative; 
}