$skinName: ".jw-skin-senac";

$colorBG: #004a47;
$colorBorder: #bbbbbb;
$colorHover: #F08A20; /* PROGRESS & HOVER */
$colorRail: #b6bdce;
$colorBuffer: #7e8697;
$colorThumb: #FFFFFF;

/* FONTE | ICONES */
@font-face {
    font-family: 'jw-senac';
    src:  url('../fonts/jw-senac.eot?62z0'); /* IE9 Compat Modes */
    src:  url('../fonts/jw-senac.eot?62z0#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('../fonts/jw-senac.ttf?62z0') format('truetype'), /* Safari, Android, iOS */
          url('../fonts/jw-senac.woff?62z0') format('woff'), /* Pretty Modern Browsers */
          url('../fonts/jw-senac.svg?62z0#jw-senac') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

.jw-icon {
    background-color: transparent;
    font-family: 'jw-senac' !important;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-transform: none;

    -webkit-font-feature-settings: "liga";
       -moz-font-feature-settings: "liga=1";
       -moz-font-feature-settings: "liga";
        -ms-font-feature-settings: "liga" 1;
         -o-font-feature-settings: "liga";
            font-feature-settings: "liga";
           
            -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale
}

/* SKIN PLAYER */
#{$skinName} {
    /* BACKGROUND COLOR PADRÃO */
    .jw-background-color { background-color: $colorBG; }

    /* ICON PLAY */
    .jw-display-icon-container {
        border: solid 1px rgba(255,255,255,0.2);
        border-radius: 50%;
        transition: all 0.3s !important;

        .jw-icon-display {
            color: #fff;
            transition: all 0.3s;

            &::before { padding-left: 0; }
        }
    }

    /* SKIP */
    .jw-skip {
        border: 1px solid $colorBorder;
        border-radius: 1.75em;
        padding: .4em;
        
        .jw-icon-inline,
        .jw-text {
            color: #fff;
            line-height: 1.75em;
        }

        &.jw-skippable {
            &:hover {
                .jw-icon-inline,
                .jw-text {
                    color: $colorHover; }
            }
        }
    }

    /* FLAG TOUCH */
    &.jw-flag-touch {
        .jw-plugin, 
        .jw-skip { font-size: 1em; }

        .jw-controlbar {
            font-size: 1em;

            .jw-icon {
                &::before { padding: 0 .35em; }
            }
            .jw-icon-prev {
                &::before { padding: 0 .125em 0 .7em; }
            }
            .jw-icon-next {
                &::before { padding: 0 .7em 0 .125em; }
            }
            .jw-icon-playlist {
                &::before { padding: 0 .225em; }
            }
            .jw-controlbar-left-group {
                .jw-text-elapsed,
                .jw-text-duration { padding: 0 .35em; }
            }
        }
    }

    /* DOCK */
    .jw-dock {
        .jw-dock-button {
            border: 1px solid $colorBorder;
            border-radius: 50%;
        }
    
        .jw-overlay { border-radius: 2.5em; }
    }

    /* GROUP */
    .jw-group { vertical-align: middle; }

    /* PLAYLIST */
    .jw-playlist { background-color: rgba(0, 0, 0, 0.5); }
    .jw-playlist-container {
        background-color: rgba(0, 0, 0, 0.5);
        left: -43%;

        .jw-option {
            border-bottom: 1px solid $colorBorder;

            &:hover {
                background-color: #4d4d4d; 
            
                .jw-label { color: $colorHover; }
            }
            &.jw-active-option { background-color: #4d4d4d; }
        }

        .jw-icon-playlist {
            margin-left: 0;
        }

        .jw-label {
            .jw-icon-play {
                color: $colorHover;

                &::before { padding-left: 0; }
            }
        }
    }
    
    /* CONTROLBAR */
    .jw-controlbar {
        border: 0;
        bottom: -40px; 
        display: table !important; 
        height: 2.5em;
        
        @include transition(all 0.3s); 

        /* ICONS */
        .jw-icon {
            &::before { padding: 0 .7em; }
        }
        .jw-icon-prev {
            font-size: .7em;

            &::before {
                border-left: 1px solid $colorBorder;
                padding-right: .25em; 
            }
        }
        .jw-icon-next {
            font-size: .7em;

            &::before {
                border-right: 1px solid $colorBorder;
                padding-left: .25em; 
            }
        }
        .jw-icon-playlist {
            &::before { padding: 0 .45em; }
        }

        /* LEFT */
        .jw-controlbar-left-group {
            .jw-text-elapsed,
            .jw-text-duration { padding: 0 .7em; }

            .jw-text-duration {
                color: #FFFFFF;
                padding: 0 1em 0 0;

                &::before {
                    content: '\/ ';
                    color: #FFF;
                    padding-right: 3px;
                }
            }
        }

        /* CENTER */
        .jw-controlbar-center-group {
            /*background: #dddddd;*/
            padding: 0 5px;

            .jw-buffer { background-color: $colorBuffer; }
            .jw-knob {
                background-color: $colorThumb;
                border-radius: 50%;
                box-shadow: 0 0 0 1px #000;
                height: 10px;
                width: 10px;
            }
            .jw-progress { background: $colorHover; }
            .jw-rail {
                background-color: $colorRail;
                box-shadow: none;
            }
            .jw-slider-time { background: transparent; }
            
            .jw-slider-horizontal {
                .jw-slider-container { height: .95em; }

                .jw-rail,
                .jw-buffer,
                .jw-progress {
                    border-radius: 0;
                    height: .2em;
                }

                .jw-cue {
                    background-color: #fff;
                    border-radius: 50%;
                    height: .3em;
                    top: -0.04999999999999999em;
                    width: .3em;
                }

                .jw-knob { top: -4px; }
            }
            
            .jw-slider-vertical {
                .jw-rail,
                .jw-buffer,
                .jw-progress {
                    width: .2em;
                }

                .jw-knob { margin-bottom: -0.3em; }
            }
        }

        /* RIGHT */
        .jw-controlbar-right-group {
            .jw-icon-inline,
            .jw-icon-tooltip {
                &::before { border-left: 1px solid $colorBorder; }
            }

            .jw-icon-inline { 
                :first-child {
                    &::before { border: 0; }
                }
            }
        }
    }

    /* TOOLTIP */
    .jw-icon-tooltip {
        .jw-active-option {
            background-color: $colorHover;
            color: #fff;
        }
    }
    .jw-tooltip-title {
        background-color: #4d4d4d;
        color: #fff;
    }

    /* VOLUME */
    .jw-icon-volume { min-width: 2.6em; }
    .jw-volume-tip {
        border: 1px solid $colorBorder;
        bottom: .24em;
        left: -45%;
        padding-bottom: .7em;
        width: 100%;
    }

    /* TEXT */ 
    .jw-text { color: #fff; }

    /* TIME */
    .jw-time-tip {
        border: 1px solid $colorBorder;
        bottom: 1.3em;
        padding: .2em;
    }

    /* MENU */
    .jw-menu {
        border: 1px solid $colorBorder;
        bottom: .24em;
    }
    
    /* BUTTON */
    .jw-button-color {
        color: #fff;

        &:hover { color: $colorHover; }
    }
    
    /* TOOGLE */
    .jw-toggle {
        color: $colorHover;

        &.jw-off {
            color: #fff;
            
            &:hover { color: $colorHover; }
        }
    }

    /* ICONS */
    .jw-icon-cc {
        &::before { border-left: 0 !important; }
    }
    .jw-icon-hd {
        &::before { 
            border-left: 0 !important;
            border-right: solid 1px $colorBorder;
        }
    }
    .jw-icon-lights {
        &::before {
            border-left: 0 !important;
            content: "\e904";
            font-size: 1.5em;
            padding: 0 .3em !important;
        }

        &.jw-off {
            &::before {
                content: "\e903";
                font-size: 1.5em;
                padding: 0 .3em !important;
            }
        }
    }
    .jw-icon-more {
        &::before { content: "\e902"; }
    }
    .jw-icon-transcrition {
        &::before { content: "\e96b"; }
    }
    .jw-icon-volume {
        &.lights {
            &::before { border-right: solid 1px $colorBorder; }
        }
    }

    /* HOVER */
    &:hover {
        .jw-display-icon-container {
            background-color: #FFF !important;
            background: #FFF !important;

            .jw-icon-display {
                color: $colorHover;
            }
        }
    }
}