/*****************************************/
/* CAROUSEL ******************************/
.section-carousel {
	margin: 20px auto 40px;
	position: relative;

	.carousel { 
		background-color: #F3F3F3;
		height: 100%;
		overflow: hidden;

		@include box-shadow(0px 0px 5px 3px rgba(235,235,235,0.75));

		.carousel-inner { 
			background-color: #F3F3F3; 
			height: 100%; 
			position: relative;

			.item, .active { 
				height: 100%; 
				overflow: hidden; 
			}

			.item {
				.carousel_bg {
					background: rgba(255,255,255,0.85);
					position: absolute;
					height: 100%;
					top: 0; 
				}
				
				.carousel_bg_full {
					position: relative;
					height: 100%;
					top: 0;
					left: 0;
				}

				.carousel-conteudo { 
					display: flex;
					align-items: center;
					justify-content: center;
					height: 100%;
					margin: 0; 
				
					h3 { 
						color: #27357C; 
						font-size: 26px; 
						margin-bottom: 30px; 
					}
					h4 { 
						color: #0078C0; 
						font-size: 21px; 
						padding: 0;
						margin: 0;
						text-align: left; 
					}

					.titCenter { 
						margin-bottom: 30px !important;
						text-align: center !important;  }
					
					p { color: #27357C; margin-bottom: 15px; }
				
					li {
						&::before { color: #fff; }
					}
				}
			}
		}

		/* ITEM INDICATORS */
		.carousel-indicators { 
			bottom: 10px; 
			margin-bottom: 0;

			li {
				background-color: #4D4D4D;
				border: none;
				height: 12px;
				margin: 0;
				padding: 0;
				width: 12px;

				&::before { content: normal; }

				&.active,
				&:hover { 
					background-color: #42C6B9;

					@include transition(all 0.3s);
				}
			}
		}

		/* ITEM CONTROLS */
		.carousel-control {
			background-color: #27357C;		
			
			&.left,
			&.right { 
				background-image: none; 
				height: 178px;	
				opacity: 1;
				width: 5%;
			
				@include transition(all 0.5s);
			
				&:hover { background-color: #102457; }
			
				.ico-left, 
				.ico-right { 
					position: absolute;	
					top: 50%;
					height: 34px;
					width: 17px; 

					@include transform(translateY(-50%));
				}

				.ico-left { background: url(../images/bullet_caurosel_left.png) center no-repeat; right: -12px; }
				.ico-right { background: url(../images/bullet_caurosel_right.png) center no-repeat; left:-12px; }
			}
		}
	}

	@media #{$bp-tablet} {
		.carousel {
			.carousel-inner {
				.item {
					.carousel_bg_full { position: absolute; }

					.carousel-conteudo { 
						align-items: flex-end;
						position: relative;
						text-align: center;

						.carousel-faixa {
							background: rgba(255, 255, 255, 0.6);
							margin: 0 auto 50px;
							padding: 20px 0;
						}
					}
				}
			}

			/* ITEM INDICATORS */
			.carousel-indicators { 
				li {
					border: solid 1px #4D4D4D;
					background-color: #FFF;
				}
			}
		}
	}

	@media #{$bp-phone} {
		.carousel {
			overflow: visible;
			@include box-shadow(none);

			.carousel-body {
				padding-top: 20px;
				padding-right: 15px;
				padding-left: 15px;
				margin-right: auto;
				margin-left: auto;
			}

			.carousel-inner {
				.item {
					display: block;

					.carousel_bg,
					.carousel_bg_full { position: relative; }

					.carousel-conteudo { 
						display: block;

						h3 { margin-bottom: 15px; }

						.carousel-faixa {
							background: rgba(255,255,255,0.6);
							margin: 0 auto 20px;
							padding: 20px 0;
						}
					}
				}
			}

			/* ITENS */
			.carousel-control,
			.carousel-indicators { display: none; }
		}
	}
}