/*****************************************/
/* PLAYER ********************************/
.player { 
    background-color: transparent;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 40px; 
    position: relative;
    width: 100%;
    z-index: 901;

    .jwplayer {
        width: 70% !important; 
        overflow:visible !important; 
        z-index: 11; 
        
        .jw-preview { 
            background: #222 no-repeat; 
            background-size: contain;
        }
    }

    &.videoFull {
        .jwplayer, .player-captions {
            width: 100% !important; 
        }
    }

    /*****************************************/
    /* CAPTIONS ******************************/
    .player-captions { 
        background: #7ab8a3;
        height: 80px;
        position: relative;
        width: 70%;
        z-index: 10; 
    
        .jw-captions { 
            bottom: 4px; 
            height: 72px; 
        
            &.jw-captions-enabled { display: table; }
    
            .jw-captions-window { 
                padding: 0; 
            
                &.jw-captions-window-active { 
                    display: table-cell; 
                    vertical-align: middle; 
                }
    
                .jw-captions-text { 
                    background-color: transparent; 
                    color: #12523e;
                    display: block; 
                    font-size: 21px !important; 
                }
            }
        }
    
        @media #{$bp-phone} {
            .jw-captions {
                .jw-captions-window {
                    .jw-captions-text {
                        font-size: 14px !important; 
                    }
                }
            }
        }
    }

    /*****************************************/
    /* VIEWS *********************************/
    &.video-md, &.video-lg {
        .menu-chapter { 
            right: 0 !important;    

            &.aberto {
                @include transition(none);
            }
        }

        .nav-chapter { 
            display: none !important;
        }
    }

    &.video-xs, &.video-sm {
        .menu-chapter { 
            &.aberto {
                right: 0;
                
                @include transition(all 0.5s);
            }
        }
    }

    /*****************************************/
    /* MENU CHAPTER **************************/
    .menu-chapter { 
        position: absolute;
        right: 0;
        top: 0;    
        height: 100%;
        width: 30%;
        z-index: 100;

        @include transition(all 0.25s);

        .btn-fecharUl {
            background: rgba(#7ab8a3, 1);
            color: #FFF;
            cursor: pointer;
            display: none;
            font-family: 'Titillium Web', sans-serif;
            font-size: 14px;
            font-weight: 400;
            height: 30px;
            padding: 5px 15px 0 12px;
            position: relative;
            top: 0;
            text-transform: uppercase;
            width: 100%; 
            z-index: 101;
            
            @include transition(all 0.3s);
    
            &:hover { background-color: rgba(#7ab8a3, 0.5); }
        }

        .ul-chapter { 
            background: rgba(#12523e, 1);
            margin: 0;
            outline: none;
            position: relative;
            height: 100%;
            z-index: 100;
        
            .btn-chapter {
                color: #FFF;
                cursor: pointer;
                font-family: 'Titillium Web', sans-serif;
                font-size: 18px;
                font-weight: 400;
                list-style: none; 
                margin: 0;
                padding: 12px 20px;
            
                @include transition(all 0.3s);
            
                &.selected {
                    background-color: #c76c1c;
                    color: #FFF;
                    cursor: default;
                }
            
                &:hover { 
                    background-color: #c76c1c;
                    color: #FFF;
                }
            
                &::before { content: ''; padding: 0; }
            }
        
            .ul-subChapter {
                margin: 0;
                padding: 0;
            
                .btn-subChapter {
                    color: #FFF;
                    cursor: pointer;
                    font-family: 'Titillium Web', sans-serif;
                    font-size: 14px;
                    font-weight: 400;
                    list-style: none; 
                    margin: 0;
                    padding: 8px 10px 8px 20px; 
                
                    @include transition(all 0.3s);
                
                    &.selected {
                        background-color: rgb(221, 221, 221);
                        color: #12523e;
                        cursor: default;
                    }
                
                    &:hover { 
                        background-color: rgb(221, 221, 221);
                        color: #12523e;
                    }
                
                    &::before { content: ''; padding: 0; }
                }
            }
        }
    }

    .nav-chapter {
        background-color: #333333;
        border: none;
        border-radius: 0;
        display: none;
        align-items: center;
        justify-content: center;
        font-weight: 400;
        outline: none;
        position: absolute;
        top: 15px;
        right: 0;
        height: 40px;
        width: 40px;
        text-decoration: none;
        z-index: 99;
    
        @include transition(all 0.5s);

        &.esconde { right: -40px; }
    
        &:hover { 
            background-color: #7ab8a3;
            text-decoration: none; 
        }
    
        i { 
            color: #ffffff;
            font-size: 21px;
        }
    }

    @media #{$bp-minDesktop} {
        .jwplayer,
        .player-captions {
            width: 70% !important;
        }

        .menu-chapter { width: 30%; }
    }

    @media #{$bp-tablet} {
        .jwplayer,
        .player-captions {
            width: 100% !important;
        }

        .menu-chapter { 
            width: 50%; 
            right: -50%; 

            .btn-fecharUl { 
                display: block; 
                position: absolute; 
            }

            .ul-chapter {
                .btn-chapter {
                    font-size: 16px;
                    padding: 10px 15px;

                    &:first-of-type { margin-top: 30px !important; }
                }
            }
        }

        .nav-chapter { display: flex; }
    }
}

.jwplayer.jw-flag-fullscreen .jw-controlbar { bottom: 0px !important; }

/*
.nav-chapter {
    background-color: #333333;
    border: none;
    border-radius: 0;
    /*border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    outline: none;
    position: absolute;
    top: 15px;
    right: 0;
    height: 40px;
    width: 40px;
    text-decoration: none;
    z-index: 99;

    @include transition(all 0.3s);

    &:hover { 
        background-color: #F08A20;
        text-decoration: none; 
    }

    i { 
        color: #ffffff;
        font-size: 21px;
    }
}*/
   
/* TRANSCRIÇÃO */
.divTranscrition {
    background: #222;
    margin-left: -30px;
    max-height: 600px;
    position: relative;
    overflow-y: scroll;
    padding: 0;
    z-index: 901;

    @include transition(all 0.3s);

    .legenda {
        cursor: pointer;
        color: #FFF;
        font-family: 'Titillium Web', sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.3;
        padding: 15px 20px;
        margin: 0;

        @include transition(all 0.3s);

        /*&:first-child { margin: 15px 0 0; }
        &:last-child { margin: 0 0 15px; }*/

        &:hover {
            background-color: #000000;
        }

        &.ativa { 
            background-color: #000000;
            color: #F08A20;
            cursor: default; 
        }
    }

    @media #{$bp-tablet} {
        margin-left: auto;
        max-height: 200px;
    }
}