/* FONTES */
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700');

/*****************************************/
/* PRINCIPAIS ****************************/
/*****************************************/
html, body {
	height: 100%;
	margin: 0;
	padding: 0; }

body {
	background: #f5f5f5 url(../img/bg_body.png) 0 0 repeat;
	color: #58585b;
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 400;
	line-height: 1.5; }
/* TEXTOS */
h1, h2, h3, h4, h5 {
	display: block;
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 400;
	margin:0;
	padding:0; }
h1 {
	background: #FFF;
	color: #0b5461;
	display: inline-block;
	font-size: 36px;
	font-weight: 700;
	padding:  0 15px 0 0;
	position: relative;
	margin: 0 0 5px; }
h1 .underOrange {
    border-bottom: 3px solid #db711b;
	color: #db711b;
    padding-bottom: 5px; }
	
h2 {
	color: #325c7b;
	font-size: 20px;
	font-weight: 400;
	margin: 0 0 25px 0; }
h3 {
	background-color: #FFF;
	color: #2c889b;
	display: inline-block;
	font-size: 21px;
	font-weight: 700;
	padding:  0 10px 0 0;
	position: relative;
	margin: 0 0 25px;
	text-transform: uppercase; }
h3 span { color: #58585b; }
	
h4 {
	color: #2c899c;
	display: inline-block;
	font-size: 21px;
	font-weight: 700;
	padding:  0 10px 0 0;
	position: relative;
	margin: 0 0 15px;
	text-transform: none; }
h4 span { color: #58585b; }

h5 {
	font-size: 26px;
	font-weight: 400;
	line-height: 1.3;
	margin: 0 0 25px;
	text-align: justify; }

p {
	color: #575757;
	display: block;
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	margin: 0 0 25px 0;
	padding: 0; }
strong { font-weight: 700; }

ul { margin: 0 0 25px; padding: 0; }

ul > li,
ol > li {
	color: #575757;
	font-size: 16px;
	margin: 0 0 10px 0;
	list-style: none;
	padding: 0; }

ul > li:before {
	display:inline-block; 
	font: normal normal normal 14px/1 FontAwesome;
	font-size: 24px;
	font-weight: 700;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f105";
    color: #db711b;
	padding-right: 8px;
	position: relative;
	top: 2px; }


ol > li:before {
    color: #2D8AB2;
    content: counter(foo) ".";
	padding-right: 5px;
	text-align: right; }

hr { border-top: 1px solid #CCC; }

a { color: #06cbf9; }
a:hover,
a:focus {
	color: #06cbf9; }

/* LINK CHAPTER */
.menu-chapter { 
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	overflow: hidden;
	width: 0;
	z-index: 100; }
.menu-chapter.opened { width: 100%; }

.nav-chapter {
	background-color: #2c899c;
	border: none;
	border-radius: 12px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	font-weight: 400;
	outline: none;
	position: absolute;
	top: 15px;
	right: 0;
	height: 40px;
	width: 40px;
	text-decoration: none;
	z-index: 99;  }
.nav-chapter:hover { 
	background-color: #2c899c;
	text-decoration: none; }
	
.nav-chapter i { 
	color: #ffffff;
	font-size: 18px; }

/* CHAPTER */
.title-chapter {
	background-color: #D1D3D4;
	color: #363636;
	font-size: 14px;
	font-weight: 600;
	margin: 15px 15px 5px;
	padding: 5px 15px;
	position: relative;
	z-index: 102;
}

.ul-chapter {
	margin: 0;
	outline: none;
    overflow: hidden;
	padding: 0 15px;
	position: relative;
	width: 100%;
	z-index: 100; 
}
.ul-chapter:before { 
	content: ' ';
	border-left: dotted 1px #363636;
	padding: 0;
	position: absolute;
	left: 20px;
	width: 2px;
	height: 100%;
	top: -15px;
}
.btn-chapter {
	color: #363636;
	cursor: pointer;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	list-style: none; 
	margin: 0 0 0 20px;
	padding: 5px 10px 5px 5px;
	position: relative;
	z-index: 90; 

	-webkit-transition: 0.3s;
	   -moz-transition: 0.3s;
		 -o-transition: 0.3s;
			transition: 0.3s; 
}
.btn-chapter:before {
	content: ' ';
	border-top: dotted 1px #363636;
	padding: 0;
	position: absolute;
	left: -15px;
	width: 15px;
	height: 100%;
	top: 15px;
}
.btn-chapter:last-child:before { 
	background-color: #A7A9AC;
	top: 16px;
	height: 100%;
}
.btn-chapter.selected,
.btn-chapter:hover {
	background-color: #f7bf85;
	color: #414042;
}

.btn-chapter.visto:after {
	content: '✔';
	color: #414042;
	font-size: 16px;
	font-weight: 400;
	height: 20px;
	width: 15px;
	position: absolute;
	right: 0;
	top: 2px;
	z-index: 2;
}

/*****************************************/
/* PLAYER ********************************/
.player {
	background:  #414042;
	display: table;
	width: 100%;
}
.player_video { 
	background-color: transparent;
	display: table-cell;
	margin: 0 auto 25px;
	padding-bottom: 40px; 
	position: relative;
	width: 75%; 
}
.player_lista { 
	background-color: #A7A9AC;
	display: table-cell;
	position: relative;
	vertical-align: top;
	width: 25%; 
}

.jwplayer { overflow:visible !important; z-index: 11; background-color: #414042; }
.jwplayer .jw-preview { background: transparent no-repeat; }
.jwplayer.jw-flag-fullscreen .jw-controlbar { bottom: 0px !important; }
.jw-skin-senac .jw-controlbar { display:block !important; bottom: 0px; border: 0 !important; }
.jw-skin-senac .jw-controlbar .jw-group { padding-top: 4px; }

.track_sub { width: 100%; height: 80px; background: rgb(50, 50, 50); position: relative; z-index: 10; }
.track_sub .jw-captions { bottom: 4px; height: 72px; }
.track_sub .jw-captions-window { padding: 0; }
.track_sub .jw-captions.jw-captions-enabled { display: table; }
.track_sub .jw-captions-window.jw-captions-window-active { display: table-cell; vertical-align: middle; }
.track_sub .jw-captions-text { background-color: transparent; display: block; font-size: 21px !important; }

@media(max-width: 992px) {
	.player {
		background: transparent;
	}
	.player_video { 
		display: block;
		margin: 0 auto;
		width: 100%;
	}
	.player_lista {
		display: block;
		margin: 0 auto 10px;
		padding: 5px 0 20px;
		width: 100%; 
	}

	.track_sub .jw-captions-text { font-size: 18px !important; }
}

@media(max-width: 992px) 
	and (-webkit-device-pixel-ratio: 3) {

	.player_video {
		padding-bottom: 55px;
	}
}

/*****************************************/
/* CONTEUDO ******************************/
.divConteudo {  
	display: table;
	table-layout: fixed;
	height: 100%;
	margin: 0 auto;
	position: relative;
	width: 100%;
	max-width: 1170px; }

section {
	display: table-cell;
	vertical-align: middle;
}

.container { 
	background: #FFFFFF;
	padding: 15px;
}

.tituloVideo {
	background:  #414042;
	color: #FFF;
	display: block;
	font-size: 18px;
	font-weight: 500;
	position: relative;
	margin: 0 auto;
	padding: 15px;
	text-transform: uppercase;
	width: 100%; }
.tituloVideo:after {
	background: transparent url(../img/bg_titulo.png) 0 0 no-repeat;
	background-size: cover;
	content: ' ';
	position: absolute;
	top: 0;
	height: 100%;
	right: 0;
	width: 70px;
}

/*****************************************/
/* CONTEUDO ******************************/
section { padding: 0; }

/************************************************************************/
/*
MARGINS & PADDINGS
*/
/* MARGIM GERAL */
.m0 { margin: 0 !important; }
/* M - BOTTOM */
.mb0 { margin-bottom: 0 !important; }
.mb5 { margin-bottom: 5px !important; }
.mb10 { margin-bottom: 10px !important; }
.mb15 { margin-bottom: 15px !important; }
.mb20 { margin-bottom: 20px !important; }
.mb25 { margin-bottom: 25px !important; }
.mb30 { margin-bottom: 30px !important; }
.mb35 { margin-bottom: 35px !important; }
.mb40 { margin-bottom: 40px !important; }
.mb45 { margin-bottom: 45px !important; }
.mb50 { margin-bottom: 50px !important; }
/* M - TOP */
.mt0 { margin-top: 0 !important; }
.mt5 { margin-top: 5px !important; }
.mt10 { margin-top: 10px !important; }
.mt15 { margin-top: 15px !important; }
.mt20 { margin-top: 20px !important; }
.mt25 { margin-top: 25px !important; }
.mt30 { margin-top: 30px !important; }
.mt35 { margin-top: 35px !important; }
.mt40 { margin-top: 40px !important; }
.mt45 { margin-top: 45px !important; }
.mt50 { margin-top: 50px !important; }
.mt125 { margin-top: 125px !important; }
.mt250 { margin-top: 250px !important; }
/* M - LEFT */
.ml0 { margin-left: 0 !important; }
.ml5 { margin-left: 5px !important; }
.ml10 { margin-left: 10px !important; }
.ml15 { margin-left: 15px !important; }
.ml20 { margin-left: 20px !important; }
.ml25 { margin-left: 25px !important; }
.ml30 { margin-left: 30px !important; }
.ml35 { margin-left: 35px !important; }
.ml40 { margin-left: 40px !important; }
.ml45 { margin-left: 45px !important; }
.ml50 { margin-left: 50px !important; }
/* M - RIGHT */
.mr0 { margin-right: 0 !important; }
.mr5 { margin-right: 5px !important; }
.mr10 { margin-right: 10px !important; }
.mr15 { margin-right: 15px !important; }
.mr20 { margin-right: 20px !important; }
.mr25 { margin-right: 25px !important; }
.mr30 { margin-right: 30px !important; }
.mr35 { margin-right: 35px !important; }
.mr40 { margin-right: 40px !important; }
.mr45 { margin-right: 45px !important; }
.mr50 { margin-right: 50px !important; }

/* PADDING GERAL */
.p0 { padding: 0 !important; }
/* P - BOTTOM */
.pb0 { padding-bottom: 0 !important; }
.pb5 { padding-bottom: 5px !important; }
.pb10 { padding-bottom: 10px !important; }
.pb15 { padding-bottom: 15px !important; }
.pb20 { padding-bottom: 20px !important; }
.pb25 { padding-bottom: 25px !important; }
.pb30 { padding-bottom: 30px !important; }
.pb35 { padding-bottom: 35px !important; }
.pb40 { padding-bottom: 40px !important; }
.pb45 { padding-bottom: 45px !important; }
.pb50 { padding-bottom: 50px !important; }
/* P - TOP */
.pt0 { padding-top: 0 !important; }
.pt5 { padding-top: 5px !important; }
.pt10 { padding-top: 10px !important; }
.pt15 { padding-top: 15px !important; }
.pt20 { padding-top: 20px !important; }
.pt25 { padding-top: 25px !important; }
.pt30 { padding-top: 30px !important; }
.pt35 { padding-top: 35px !important; }
.pt40 { padding-top: 40px !important; }
.pt45 { padding-top: 45px !important; }
.pt50 { padding-top: 50px !important; }
/* P - LEFT */
.pl0 { padding-left: 0 !important; }
.pl5 { padding-left: 5px !important; }
.pl10 { padding-left: 10px !important; }
.pl15 { padding-left: 15px !important; }
.pl20 { padding-left: 20px !important; }
.pl25 { padding-left: 25px !important; }
.pl30 { padding-left: 30px !important; }
.pl35 { padding-left: 35px !important; }
.pl40 { padding-left: 40px !important; }
.pl45 { padding-left: 45px !important; }
.pl50 { padding-left: 50px !important; }
/* P - RIGHT */
.pr0 { padding-right: 0 !important; }
.pr5 { padding-right: 5px !important; }
.pr10 { padding-right: 10px !important; }
.pr15 { padding-right: 15px !important; }
.pr20 { padding-right: 20px !important; }
.pr25 { padding-right: 25px !important; }
.pr30 { padding-right: 30px !important; }
.pr35 { padding-right: 35px !important; }
.pr40 { padding-right: 40px !important; }
.pr45 { padding-right: 45px !important; }
.pr50 { padding-right: 50px !important; }